<h2>Galpões</h2>
<section id="warehouses">
	<div>
		<%= link_to "Cadastrar Galpão", new_warehouse_path%>
	</div>
	
	<div>
		<%@warehouses.each do |w|%>
				<dl>
					<dt>
						<%=link_to w.name, warehouse_path(w.id)%>
					</dt>
					
					<dd>
						Código: <%=w.code%>
					</dd>
					
					<dd>	
						Cidade: <%=w.city%>
					</dd>
					<dd>
						<%=w.area%> m²
					</dd>	
				</dl>
		<%end%>
	</div>
</section>