<h1>Cadastro de novo Galpão</h1>

<%= form_with(model:Warehouse.new ) do |f|%>
	<div>
		<%=f.label :name, "Nome"%>
		<%= f.text_field :name, :required => true%>	
	</div>

	<div>
		<%=f.label :description, "Descrição"%>
		<%= f.text_area :description, :required => true%>
	</div>
	
	<div>
		<%=f.label :code, "Código"%>
		<%= f.text_field :code, :required => true%>
	</div>
	
	<div>
		<%=f.label :address, "Endereço"%>
		<%= f.text_field :address, :required => true%>
	</div>
	
	<div>
		<%=f.label :city, "Cidade"%>
		<%= f.text_field :city, :required => true%>
	</div>


	<div>
		<%=f.label :cep, "CEP"%>
		<%= f.text_field :cep, :required => true%>
	</div>
	
	<div>
		<%=f.label :state, "Estado"%>
		<%= f.text_field :state, :required => true%>
	</div>
	
	<div>
		<%=f.label :area, "Área"%>
		<%= f.number_field :area, :required => true%>
	</div>

	<div>
		<%=f.submit "Enviar"%>
	</div>
<% end%>