<h1>Galpão <%=@warehouse.code %></h1>
<h2><%= @warehouse.description%></h2>

<div>
	<dl>
		<dt>Nome:</dt>
		<dd><%=@warehouse.name%></dd>
		
		<dt>Cidade:</dt>
		<dd><%=@warehouse.city%></dd>
		
		<dt>Área:</dt>
		<dd><%=@warehouse.area%></dd>

		<dt>Endereço:</dt>
		<dd><%=@warehouse.address + " - " + @warehouse.state%>, CEP: <%=@warehouse.cep%></dd>
	</dl>
</div>